$primary: #D96741;
$dark: #2C2C2E;
$secondary: #b0b0b0;

$theme-colors: (
    "primary": $primary,
    "dark": $dark,
    "secondary": $secondary
);
@import "./node_modules/bootstrap/scss/bootstrap.scss"

