:root {
    --color-body: #1C1C1E;
    --color-2:  #2C2C2E;
    --color-3: #b0b0b0;
    --color-4: #D96741;
}

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-body);
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: var(--color-2);
    color: white;
}

.logo{
    text-transform: uppercase;
}

.link_logo{
    color: white;
    text-decoration: none;
}

.link_logo:hover{
    color: white
}

.boton-carrito{
    background-color: var(--color-3);
    padding: 10px 30px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}

.boton-carrito:hover{
    background-color: var(--color-4);
}

#contenedor-productos{
    margin-top: 50px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 25px;
}


.carrito-contenedor{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.carrito-contenedor button{
    padding: 0 10px;
    background-color: var(--color-2);
    color: white;
    border: none;
}

.carrito-contenedor button:hover{
    background-color: var(--color-4);
}

.card{
    width: 18rem;
    height: 33rem;
}

@media (max-width: 770px){
    #contenedor-productos{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}